.account-field:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.rs-picker-search .rs-picker-search-input input {
  /* min-width: fit-content !important; */
  /* max-width: 100% !important; */
  /* width: fit-content !important; */
}
